@model C4FAMS.Models.ThongBao

<h1>Xóa Thông báo</h1>

<h3>Bạn có chắc muốn xóa thông báo này?</h3>
<div>
    <h4>@Model.NoiDung</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="MaThongBao" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>