@model C4FAMS.Models.SuKien

<h1>Xóa Sự kiện</h1>

<h3>Bạn có chắc muốn xóa sự kiện này?</h3>
<div>
    <h4>@Model.TenSuKien</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="MaSuKien" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>