@using Microsoft.AspNetCore.Identity
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Manage">Xin chào @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>